############################# GITIGNORE ###############################
###################
#   Vivado files ignore
###################
vivado_files/**/*.cache/
vivado_files/**/*.hw/
vivado_files/**/*.ip_user_files/
vivado_files/**/*.sim/
vivado_files/**/*.run/
vivado_files/**/*.sdk/
vivado_files/**/*.srcs/
vivado_files/**/*.tmp/
vivado_files/**/*.xpr

BaiduNetdiskDownload/
BaiduSyncdisk/
Billfish素材库/
GitHub/
WPS同步空间/
QQ_files/
Pr_files/
VitisWorkspace/
atom_files/
*~

